html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter_18ptLight.woff2) format(woff2);
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter_18ptRegular.woff2) format(woff2);
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter_18ptMedium.woff2) format(woff2);
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter_18ptSemiBold.woff2) format(woff2);
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url(../fonts/Inter_24ptBold.woff2) format(woff2);
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'font', sans-serif;
}

:root {
    --color-light: #fff;
    --color-grey: #838383;
    --color-dark: #171b25;

    --offset: 190px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn-reset {
    border: none;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn {
    padding: 20px;
    max-width: 180px;
    font-size: 17px;
    font-weight: 600;
    line-height: 20.57px;
    text-align: center;

    color: var(--color-dark);
    background-color: var(--color-light);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn--light {
    color: var(--color-dark);
    background-color: var(--color-light);
}

.btn--light:hover{
    color: var(--color-light);
    background-color: var(--color-dark);
}

.btn--dark {
    color: var(--color-light);
    background-color: var(--color-dark);
}

.btn--dark:hover {
    color: var(--color-dark);
    background-color: var(--color-light);
    outline: solid var(--color-dark);
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 60px;
}

/* Шапка */
.header {
    text-transform: uppercase;
    font-family: 'Lato';
    position: absolute;
    left: 0;
    top: 0;
    padding: 30px 0;
    width: 100%;
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_right {
    display: flex;
    align-items: center;
}

.nav_list {
    display: flex;
    align-items: center;
}

.nav_item:not(:last-child) {
    margin-right: 35px;
}

.nav_link {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    color: var(--color-light);
    transition: color 0.3s ease-in-out;
}

.nav_link:hover {
    color: var(--color-dark);
}

.logo {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 500;
    line-height: 130%;
    color: var(--color-light);
    /* display: block;
    background-color: var(--color-dark); */
    padding: 0 10px;
}

.header {
    /* background-color: rgba(23, 27, 37, 0.2); */
}

.header_search {
    display: block;
    background-color: white;
    /* margin-right: 35px; */
    padding-left: 20px;
    width: 65px;
    height: 65px;
    color: var(--color-dark);
    transition: color 0.3s ease-in-out;
}

.header_search svg {
    display: block;
    width: 50%;
    height: 50%;
    stroke: currentColor;
    object-fit: cover;
}

.header_search:hover {
    color: var(--color-grey);
}

.hero {
    padding-top: calc(120px + 120px);
    padding-bottom: 40px;
    height: 100vh;
    min-height: 900px;
    background-image: url(../img/hero-cover-1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 1000px rgba(23,27,37,.2);
}

.hero_title{
    margin: 0;
    margin-bottom: 65px;
    max-width: 785px;
    font-size: 87px;
    font-weight: 600;
    line-height: 100.18px;
    text-align: left;
    color: var(--color-light);

}

.hero_descr {
    margin: 0;
    margin-bottom: 50px;
    max-width: 468px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-light);
}

.about_top {
    padding-top: var(--offset);
    margin-bottom: var(--offset);
}

.about_item:not(:last-child) {
    margin-bottom: 60px;
}

.completed_value {
    font-size: 64px;
    font-weight: 300;
    line-height: 140%;
    color: var(--color-dark);
}

.completed_descr {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-grey);

}

.about_title {
    margin: 0;
    margin-bottom: 60px;
    font-size: 44px;
    font-weight: 700;
    line-height: 140%;
    color: var(--color-dark);
}

.about_descr {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-dark);
}

.about_descr:not(:last-child){
    margin-bottom: 30px;
}

.about_video {
    position: relative;
    width: 100%;
    height: 630px;
    overflow: hidden;
}

.about_video video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about_play {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    color: var(--color-light);
    transition: color 0.3s ease-in-out;
}

.about_play--hidden {
    display: none;
}

.about_play svg {
    display: block;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.about_play circle {
    fill: currentColor;
}

.about_play:hover {
    color: var(--color-grey);
}

.portfolio {
    padding-top: var(--offset);
    padding-bottom: var(--offset);
}

.portfolio-item:not(:last-child) {
    margin-bottom: 120px;
}

.portfolio-item_col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.portfolio-item--reverse .portfolio-item_col:first-child {
    order: 2;
}

.portfolio-item--reverse .portfolio-item_col:last-child {
    order: 1;
}

.portfolio-item_title {
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
    color: var(--color-grey);
}

.portfolio-item_image {
    max-height: 350px;
    width: 100%;
    object-fit: cover;
    
}

.portfolio-item_descr {
    margin: 0;
    margin-bottom: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-dark);
}

.quote {
    padding-bottom: var(--offset);
}

.quote_title {
    margin: 0;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 400;
    line-height: 100px;
    color: var(--color-grey);
}

.quote_content {
    margin: 0;
    max-width: 820px;
}

.quote_text {
    margin: 0;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 500;
    line-height: 150%;
    color: var(--color-dark);
}

.quote_author {
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-dark);
}

.services {
    padding-bottom: var(--offset);
}

.quote_author span {
    color: var(--color-grey);
}

.services_image {
    width: 100%;
    height: 900px;
    margin-bottom: 190px;
    object-fit: cover;
}

.services_title {
    text-transform: uppercase;
    text-align: center;
    font-size: 44px;
    margin-bottom: 80px;
    color: var(--color-dark);
}

.services-item {
    border-top: 1px solid rgba(29, 29, 31, 0.4);
    padding: 40px 0;
}

.services-item_title {
    margin: 0;
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;
    color: var(--color-dark);
}

.services-item_descr {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--color-grey);
}

.footer {
    padding-top: 90px;
    padding-bottom: 150px;
    background-color: var(--color-dark);
}

.footer_address {
    margin-top: 30px;
    margin-bottom: 30px;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-grey);
}

.footer_logo {
    display: inline-block;
    margin-bottom: 48px;
}

.social {
    display: flex;
    align-items: center;
}

.social_item:not(:last-child) {
    margin-right: 20px;
}

.social_link {
    display: block;
    width: 40px;
    height: 40px;
}

.social_link svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.footer_title {
    margin: 0;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;
    color: var(--color-light);
}

.footer_form {
    position: relative;
    width: 100%;
}

.footer_input {
    border: none;
    border-bottom: 1px solid var(--color-grey);
    padding: 24px;
    padding-left: 10px;
    padding-right: 30px;
    width: 100%;

    font-size: 13px;
    font-weight: 700;
    line-height: 15.73px;
    letter-spacing: 0.08em;
    color: var(--color-light);
    background-color: transparent;
}

.footer_input::placeholder {
    color: var(--color-grey);
}

.footer_btn {
    position: absolute;
    right: 0;
    bottom: 24px;
    width: 24px;
    height: 24px;
}

.footer_btn svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_input {
    border: none;
    padding-left: 20px;
    width: 618px;
    height: 65px;
    font-size: 18px;
    margin-bottom: 30px;
}

.hero_input:focus,
.footer_input:focus {
    outline: none;
}

.hero_elements {
    display: flex;
    flex-direction: column;
}

.hero_btn {
    color: white;
    background-color: transparent;
}

.hero_search {
    display: flex;
}

.copyright {
    color: var(--color-light);
    line-height: 10px;
}

.las_vegas_col {
    align-items: flex-end;
}

.las_vegas_title {
    padding-right: 22px;
}

.las_vegas_btn {
    margin-right: 42px;
}
